.DS_STORE

Develop Presets/vendor
Develop Presets/other
Legacy/Develop Presets/vendor
Legacy/Develop Presets/other
Lightroom/Develop Presets/vendor

Export Presets/tumblr
Legacy/Export Presets/tumblr

dailies_tumblr.lrtemplate
pushbullet.json
tjj-bot.log

Lightroom/8.3.1
Lightroom/9.2.1
Lightroom/Smart Collection Templates/Colored Red.lrtemplate
Lightroom/Smart Collection Templates/Colored_Red.lrtemplate
Lightroom/Smart Collection Templates/Five Stars.lrtemplate
Lightroom/Smart Collection Templates/Five_Stars.lrtemplate
Lightroom/Smart Collection Templates/Recently Modified.lrtemplate
Lightroom/Smart Collection Templates/Recently_Modified.lrtemplate
Lightroom/Smart Collection Templates/Past Month.lrtemplate
Lightroom/Smart Collection Templates/Past_Month.lrtemplate
Lightroom/Smart Collection Templates/Without Keywords.lrtemplate
Lightroom/Smart Collection Templates/Without_Keywords.lrtemplate
Lightroom/Modules/loupedeck*

# Locations
Lightroom/Locations/iceClimbing
Lightroom/Modules/Topaz Photo AI.lrplugin
Lightroom/External Editor Presets/TopazDeNoiseAI.lrtemplate
Lightroom/External Editor Presets/TopazGigapixelAI.lrtemplate
Lightroom/External Editor Presets/TopazPhotoAI.lrtemplate
Lightroom/External Editor Presets/TopazSharpenAI.lrtemplate
