.DS_STORE

Develop Presets/vendor
Develop Presets/other
Legacy/Develop Presets/vendor
Legacy/Develop Presets/other
Lightroom/Develop Presets/vendor

Export Presets/tumblr
Legacy/Export Presets/tumblr

dailies_tumblr.lrtemplate
pushbullet.json
tjj-bot.log

Lightroom/8.3.1
Lightroom/9.2.1